<header>
  <label (click)="goToHome()">ProgNotes</label>
  <button
    mat-raised-button
    color="primary"
    *ngIf="(isLoggedIn | async) === true"
    (click)="navigateToProfile()"
  >
    Profile
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="(isLoggedIn | async) === false"
    (click)="navigateToAuth('login')"
  >
    Login
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="(isLoggedIn | async) === false"
    (click)="navigateToAuth('sign-up')"
  >
    Sign up
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="(isLoggedIn | async) === true"
    (click)="logout()"
  >
    Logout
  </button>
</header>
<router-outlet></router-outlet>
